/* Encabezado */
.header {
    grid-area: header;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    border-radius: 5px;
    box-shadow: 0 0 10px $box-shadow-color;
    overflow-x: hidden;
    font-size: 30px;
  
    img {
      width: 250px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  
  /* Navegación */
  .navegacionPrincipal {
    list-style: none;
    margin: 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  
    ul {
      list-style: none;
      
      li {
        display: inline;
  
        a {
          text-decoration: none;
          padding: 20px;
          position: relative;
          display: inline-block;
          transition: color 0.3s ease-in-out;
          color: $dark-color;
  
          &:hover {
            color: $dark-color;
  
            &::after {
              width: 100%;
            }
          }
  
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: $light-color;
            transition: width 0.3s ease-in-out;
          }
        }
      }
    }
  }
  