/* Medidas */
.contenedormedidas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-decoration: none;
  }
  
  .conversion {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    background-color: #ffffff;
  
    h2 {
      font-size: 50px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    p {
      text-align: left;
      font-size: large;
      text-decoration: none;
      position: relative;
    }
  
    img {
      max-width: 400px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  
    .navegacionmedidas {
      ul {
        list-style-type: disc;
        padding-left: 20px;
  
        li {
          display: flex;
          align-items: center;
          gap: 8px;
          position: relative;
          font-size: large;
          text-decoration: none;
  
          &::before {
            content: "•";
            font-size: 1.2em;
            color: #000;
            position: absolute;
            left: -20px;
          }
        }
      }
    }
  }
  